Table{
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}
.tablehead{
    color: #070606;
    background-color: rgb(153, 151, 151) ;
}
.tablebody{
    border: 1px solid #cac7c7;
}
.tablebody:hover{
    background-color: #f0eeee;
}
.tablebody:nth-child(even){
    background-color:  rgb(238, 233, 233);
}
.tablebody1{
    padding: 8px;
}
.tableheads{
    padding: 8px; 
}
.tbtn1{
    background-color: green;
    padding: 5px 10px; 
    cursor: pointer;
    box-shadow: 0px 4px 8px black;
    border: none;
    border-radius: 5px;
}
.tbtn2{
    background-color: red;
    padding: 3px;
    cursor: pointer;
    padding: 5px 10px;
    box-shadow: 0px 4px 8px black;
    border: none;
    border-radius: 5px;

}
.backbtn{
    background-color: black;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0px 4px 8px black;
    border: none;
    border-radius: 5px;
}


